/* Inter-font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* font-cinzel */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

/* font raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');



.font-inter{
    font-family: 'Inter';
}

.font-cinzel{
    font-family: 'Cinzel', sans-serif;
}
.font-raleway{
    font-family: 'Raleway', sans-serif;
}

.customMessageStyle{
    font-size: 22px;
    font-weight: 700;
    color: #000;

}